:root {
  --title-color: #428486;
  --para-color: #6eacb7;
  --link-color: #a5cbc6;
  --backgrounds: #faf4f0;
  --box-shadow: 0 5px 10px grey;
}

.hero {
  padding: 90px 20px;
  background-image: url("https://johnlinkmovies.files.wordpress.com/2013/05/ghostbusters-movie-image-black-white-01.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 1;
}

body {
  margin: 15px auto;
  opacity: 1;
}

/* font-family: "Exo 2", sans-serif;
font-family: "Pacifico", cursive; */

h1,
h2 {
  text-align: center;
  color: #cc8084;
  margin: 20px;
  font-family: "Pacifico", cursive;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  margin-top: 20px;
  color: #cc8084;
  text-align: center;
}
h2 {
  font-family: "Exo 2", sans-serif;
}

p {
  font-family: "Exo 2", sans-serif;
  color: var(--para-color);
  text-align: left;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

img {
  display: block;
  box-shadow: var(--box-shadow);
  padding: 5px;
}

.instapic {
  display: inline;
  padding: 0px;
}
.navbarColors {
  background-color: #428486;
  color: var(--link-color);
}

.homepageButtons {
  padding: 20px;
  background-color: var(--title-color);
  text-align: center;
  border: 2px;
  border-color: orange;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin: 20px;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover {
  cursor: pointer;
  color: grey;
}

.links {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.intro {
  text-align: center;
}

.takeHome {
  font-size: 8px;
  opacity: 75%;
}

.about-text {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.about-paras {
  padding: 10px;
  color: var(--para-color);
  background-color: var(--backgrounds);
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  display: block;
}

.contactLinks {
  font-size: 20px;
}

.sign-off {
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 50%;
  font-size: 12px;
  max-width: 300px;
  color: var(--title-color);
  text-align: center;
}

@media (max-width: 580px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 30px;
  }
  p {
    text-align: center;
  }
  img {
    max-width: 150px;
  }
  .appPics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .homepageButtons {
    padding: 15px;
    margin: 10px;
  }
}
