:root {
  --title-color: #428486;
  --para-color: #6eacb7;
  --link-color: #a5cbc6;
  --backgrounds: #faf4f0;
  --box-shadow: 0 5px 10px grey;
}

.hero {
  padding: 90px 20px;
  background-color: #19535e;
}

body {
  margin: 0 auto;
  opacity: 1;
  background-color: white;
}

/* font-family: "Exo 2", sans-serif;
font-family: "Pacifico", cursive; */

h1,
h2 {
  text-align: center;
  color: #cc8084;
  margin: 20px;
  font-family: "Pacifico", cursive;
}
h1 {
  font-family: "Pacifico", cursive;
  font-size: 60px;
  margin-top: 20px;
  color: #cc8084;
  text-align: center;
}
h2,
h3 {
  font-family: "Exo 2", sans-serif;
  color: #cc8084;
}

p {
  font-family: "Exo 2", sans-serif;
  color: var(--para-color);
  text-align: left;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  color: var(--para-color);
}

img {
  display: block;
  box-shadow: var(--box-shadow);
  padding: 0px;
}

.navbar {
  font-family: "Exo 2", sans-serif;
}
.navbarColors {
  background-color: #428486;
  color: var(--link-color);
}

.homepageButtons {
  font-family: "Exo 2", sans-serif;
  padding: 20px;
  background-color: var(--title-color);
  text-align: center;
  border: 2px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin: 20px;
}

.workButton {
  width: 50%;
  padding: 10px;
}

a,
a:visited {
  color: var(--link-color);
}

a:hover {
  cursor: pointer;
  color: grey;
}

.links {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-family: "Exo 2", sans-serif;
}

.intro {
  text-align: center;
}

.takeHome {
  font-size: 8px;
  opacity: 75%;
}

.about-text {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.about-paras {
  padding: 10px;
  color: var(--para-color);
  background: var(--backgrounds);
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  display: block;
}

.aboutPic {
  display: flex;
  box-shadow: var(--box-shadow);
  padding: 0px;
  margin: auto;
  max-width: 350px;
  max-height: 350px;
}

.contactLinks {
  font-size: 20px;
}
footer {
  font-family: "Exo 2", sans-serif;
  color: var(--para-color);
  text-align: center;
  font-size: 20px;
}

footer .contact-box {
  background: #fcf6f6;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  border-radius: 10px;
  max-width: 50%;
}

footer .footerIcons {
  margin: 0 20px;
  padding: 8px 4px;
  border-radius: 100%;
  color: var(--title-color);
}
footer .footerIcons:hover {
  background: var(--title-color);
  transition: all 150ms ease;
  color: white;
}

.sign-off {
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 50%;
  font-size: 12px;
  max-width: 300px;
  color: var(--title-color);
  text-align: center;
}

@media (max-width: 580px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 30px;
  }
  p {
    text-align: center;
  }
  img {
    max-width: 150px;
  }

  .appPics {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
  }
  .aboutPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
  }

  .homepageButtons {
    padding: 15px;
    margin: 10px;
  }

  .hero {
    padding: 30px 5px;
  }

  ul {
    margin: 20px;
  }
  footer h4 {
    font-size: 25px;
  }

  footer .contact-box {
    background: #fcf6f6;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 80%;
    font-size: 16px;
    text-align: left;
  }
  footer p {
    font-size: 16px;
    text-align: left;
  }
}

@media (max-width: 1000px) {
  footer h4 {
    font-size: 25px;
  }

  footer .contact-box {
    background: #fcf6f6;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 80%;
    font-size: 20px;
    text-align: left;
  }
  footer .homepageButtons {
    display: none;
  }
}
